@{
    ViewData["Title"] = "Trails4Health - Plataforma de Gestão e Consulta de Trilhos da Serra da Estrela.";
}
@{
    Layout = "_LayoutSobre";
}
<h2>@ViewData["Title"]</h2>
<h3>Programação para a Internet - Grupo 3</h3>
<br />
<br />
<strong>Alunos:</strong>
<br />
<br />
1008043 Nuno Galinho<br />
1011577 Nuno Lima<br />
1011936 Ricardo Fernandes<br />
<br />